footer
    div(class="wrapper flex flex-wrap flex-space-between flex-bottom")
        nav(id="footer_nav")
            a(href="/") 主页
            a(href="/petitions") 所有信件
            a(href="/petitions/new") 开始写信
            a(href="/about") 关于
        div(class="copyright flex flex-column flex-middle")
            div(class="logo szu-white")
            span ©某某大学
