footer
    div(class="wrapper flex flex-space-between flex-bottom")
        nav(id="footer_nav")
            a(href="/") 主页
            a(href="/petitions") 所有信件
            a(href="/petitions/create") 写信
            a(href="/help") 帮助
        div(class="copyright flex flex-column flex-middle")
            div(class="logo szu-white")
            span ©某某大学
