ul(class="section petition-meta")
    - var creator = attributes.creatorName === 'Sean Zhou' ? '周思远' : attributes.creatorName;
    li(class="meta")
        div 写信人
        div(class="data") #{creator}
    li(class="meta")
        div 截止日期
        div(class="data") #{deadline}
        div(class="secondary-text") 所有信件有效期为一个月
    if user && user.githubId === '22345231'
        li(class="meta")
            div 信件管理
            div(class="data"): a(href=`/petitions/${petition.petitionId}/manage`) 管理入口
            div(class="secondary-text") 编辑回复、讨论内容，或删除该信件