<!DOCTYPE html>
html(lang="zh-Hans")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/public/style.css")
        title 找不到该页面
    body
        include ./components/header.pug
        main
            div(class="wrapper")
                h1.
                    <div class="heading-prefix secondary-text">404错误</div>
                    我们找不到你要访问的页面
                section
                    article
                        p 如果你键入了网址，请检查其是否正确。
                        p 你也可以<a class="general-link" href="/">返回主页</a>或<a class="general-link" href="/">搜索信件</a>。
        include ./components/footer.pug