<!DOCTYPE html>
html(lang="zh-Hans")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/public/style.css")
        script(src="/public/script.js")
        title 拒绝访问 - 深圳大学检验献策系统
    body
        include ./components/header.pug
        main
            div(class="wrapper")
                h1 你无权访问此页面
                div(class="section")
                    p #{message}
                    p 请检查你键入的网址是否正确，或者<a class="general-link" href="/">前往首页</a>。
        include ./components/footer.pug