<!DOCTYPE html>
html(lang="zh-Hans")
    head
        include ./components/head.pug
        title 拒绝访问
    body
        include ./components/header.pug
        main
            div(class="wrapper")
                h1 你无权访问此页面
                div(class="section")
                    p #{message}
                    p 请检查你键入的网址是否正确，或者<a class="general-link" href="/">前往首页</a>。
        include ./components/footer.pug