<!DOCTYPE html>
html(lang="zh-Hans")
    head
        include ./components/head.pug
        title 建言献策系统 - 某某大学
    body
        include ./components/header.pug
        main
            div(class="wrapper")
                include ./components/misc/flash-msg.pug
                h1(class="hidden") 某某大学建言献策系统
                include ./components/index/petition-search.pug
                include ./components/index/petitions-popular.pug
                include ./components/index/petitions-responded.pug
                include ./components/index/petitions-debated.pug
                include ./components/index/petition-create.pug
        include ./components/footer.pug