- var petitionId = petition.petitionId;
- var attributes = petition.attributes;

- var state = attributes.state;

<!DOCTYPE html>
html(lang="zh-Hans")
    head
        include ./components/head.pug
        title #{attributes.action} - 信件
    body
        include ./components/header.pug
        main
            div(class="wrapper")
                if signatureCheck
                    div(class="flash-msg") #{signatureCheck.message}
                if responseCheck
                    div(class="flash-msg") #{responseCheck.message}
                include ./components/petition/body.pug
                div(class="section")
                    include ./components/misc/signature-bar.pug
                include ./components/petition/response.pug
                include ./components/petition/debate.pug
                include ./components/petition/meta.pug
        include ./components/footer.pug