section(id="search_petitions")
    h2 搜索信件
    form(class="search-form flex" action="/petitions", method="get")
        input(class="search-field border-box" type="text" name="text")
        button(class="search-button border-box" type="submit")
            include ../misc/search-icon.pug