li(class="petition-item petition-item-debated")
    h3(class="petition-heading")
        a(class="petition-link" href='#') 信件标题
    p(class="petition-info") 学校于2018年3月1日讨论了该议题
    blockquote
        p(class="h4 debate-summary") 讨论成果简介
    p: a(class="debate-link" href='#') 查看讨论的文字记录
    p(class="no-margin-bottom"): a(class="debate-link" href="#") 查看针对该议题的研究