li(class="petition-item")
    h3(class="petition-heading")
        a(class="petition-link" href="/petitions/1") 信件标题
    div(class="signature-progress-bar")
        div(class="signature-meter")
            div(class="fill" style="width: 50%;")
        div(class="signature-info flex flex-space-between")
            div(class="count")
                span(class="number") 50
                | 个签名
            div(class="goal")
                | 需要
                span(class="number") 100
                | 个