li(class="petition-item petition-item-responded")
    h3(class="petition-heading")
        a(class="petition-link" href='#') 信件标题
    p(class="petition-info") 主管部门已回复
    blockquote
        p(class="h4 response-summary") 回复内容总结
    p(class="no-margin-bottom"): a(class="response-link" href='#') 查看回复全文