html {
    font-size: 12px;
}

@media (min-width: 426px) {
    html {
        font-size: 16px;
    }
}

body {
    font-family: $font-stack;
}

// remove default style
a {
    color: #000;
    text-decoration: none;
    &:hover { text-decoration: underline; }
}

.general-link {
    @extend %link-primary;
}

// remove margin
.no-margin-bottom {
    margin-bottom: 0 !important;
}

// common margin
.wrapper {
    padding: 1.5rem 0;
    margin: 0 10px;
}
main .wrapper {
    padding: 0;
}
section, .section {
    margin-bottom: 2rem;
}

// count border as box size
.border-box {
    box-sizing: border-box;
}

// custom font sizes & margin
h1, h2, h3, h4 {
    margin-bottom: 1em;
    line-height: 1.25;
}
p {
    margin-bottom: 1em;
    line-height: 1.25;
}
article, .article {
    margin-bottom: 1rem;
    text-align: justify;
    p {
        line-height: 1.75;
    }
}

// heading prefix and suffix
.heading-prefix {
    margin-bottom: 1rem;
    font-size: $h4-font-size;
}
.heading-suffix {
    margin-top: 1rem;
    font-size: 1rem;
}

h4 { font-size: 1.25rem; }
h3 { font-size: 1.50rem; }
h2 { font-size: 1.75rem; }
h1 { font-size: 2.00rem; }

.h4 { font-size: 1.25rem; }
.h3 { font-size: 1.50rem; }
.h2 { font-size: 1.75rem; }
.h1 { font-size: 2.00rem; }

// SZU theme color
.szu-color { color: $szu-color; }

// logo as background
.logo {
    background-position: 0 0;
    background-repeat: no-repeat;
}

.primary-button {
    @extend %button;
    background: $szu-color;
    color: #fff;
    &:not(.disabled):hover {
        background: #730032;
    }
}

.secondary-button {
    @extend %button;
    background: #ddd;
    color: #000;
    &:hover {
        background: #d6d6d6;
    }
}

.disabled-button {
    @extend %button;
    background: #e3e3e3;
    color: rgb(84, 84, 84);
    &:hover {
        cursor: default;
    }
}

.user-link {
    color: #000;
    &:hover {
        text-decoration: underline;
    }
}

// center
.center {
    text-align: center;
}

@media (min-width: 1045px) {
    .wrapper {
        margin: 0 auto;
        width: 1024px;
    }
}

.hidden {
    display: none;
}

.togglable {
    .togglable-content {
        display: none;
        padding-top: 1em;
    }
    &.open .togglable-content {
        display: block;
    }
    [class$=toggler]::before {
        content: '显示';
    }
    &.open [class$=toggler]::before {
        content: '隐藏';
    }
}

.option-toggler {
    @extend %content-toggler;
    font-size: $h4-font-size;
    span::before {
        content: '搜索选项';
    }
}

.secondary-text {
    @extend %text-secondary;
}

// search form
.search-field {
    border: 1px solid $border-color;
}
.search-button {
    @extend %button;
    // remove extra style
    padding: 0;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    line-height: 1;
    background: $szu-color;
    color: #fff;
    &:hover {
        background: #730032;
    }
    svg {
        display: inline-block;
        width: 60%;
        height: 60%;
        vertical-align: middle;
        fill: #fff;
    }
}

.flash-msg {
    display: block;
    padding: 0.5em 0;
    border: 1px solid $border-color;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    text-align: center;
    opacity: 1;
    transition: opacity 2s;
    &.fadding {
        opacity: 0;
    }
    &.closed {
        display: none;
    }
}

.fixed-msg {
    padding: 1rem 0;
    text-align: center;
    background: $backdrop;
    font-size: $h4-font-size;
    line-height: 1.25;
    margin-bottom: 1rem;
    .secondary {
        margin-top: 0.5em;
        font-size: 1rem;
    }
}

.option-panel {
    padding: 1rem;
    background-color: $backdrop;
    li {
        margin-bottom: 1rem;
    }
    .link-group {
        width: 100%;
    }
    &.open {
        padding-bottom: 0;
    }
    .option-toggler {
        line-height: 1;
    }
}

@media (min-width: 1045px) {
    .option-panel {
        .link-group {
            width: 33.33%;
        }
    }
}